<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669093110749-ilm8jqb8r03ms45ar24ketq25fkkusst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669093110749-ilm8jqb8r03ms45ar24ketq25fkkusst</string>
	<key>API_KEY</key>
	<string>AIzaSyCjYCldWSmok6tkE_kLG87oisADMtvI-Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>669093110749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hiya.Grow</string>
	<key>PROJECT_ID</key>
	<string>grow-856fd</string>
	<key>STORAGE_BUCKET</key>
	<string>grow-856fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669093110749:ios:616ce655d550a2db7fcc34</string>
	<key>DATABASE_URL</key>
	<string>https://grow-856fd.firebaseio.com</string>
</dict>
</plist>